<table id="board">

  <tbody>
  <tr id="insert-row" class="black-player">
    <td>
      <button type="button" onclick="insertChip(1)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(2)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(3)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(4)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(5)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(6)"></button>
    </td>
    <td>
      <button type="button" onclick="insertChip(7)"></button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<h2 class="current-player">Player: <span>black</span></h2>